{% extends "base/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoadRover Rentals - Rent your favourite car</title>
  

  <link rel="shortcut icon" href="/media/images/RoadRover_Rentals_favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="/media/css/style.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- #HEADER -->

  {% block body %}
    
  
  <main>
    <article>

      <!-- #HERO -->

      <section class="section hero" id="home">
        <div class="container">

          <div class="hero-content">
            <h2 class="h1 hero-title">Roam freely with RoadRover Rentals</h2>

            <p class="hero-text">
              Roam the Tri-State with RoadRover Rentals - Your ultimate ride awaits!
            </p>
          </div>

          <div class="hero-banner"></div>

          <form action="{% url 'index' %}" method="GET" class="hero-form">
            <div class="input-wrapper">
                <label for="car-model" class="input-label">Car Brand or Model</label>
                <input type="text" name="car-model" id="car-model" class="input-field" placeholder="Enter car brand or model">
            </div>
            <div class="input-wrapper">
                <label for="monthly-pay" class="input-label">Max. Monthly Payment</label>
                <input type="text" name="monthly-pay" id="monthly-pay" class="input-field" placeholder="Enter max monthly payment">
            </div>
            <div class="input-wrapper">
                <label for="year" class="input-label">Min. Year</label>
                <input type="text" name="year" id="year" class="input-field" placeholder="Enter min year">
            </div>
            <button type="submit" class="btn">Search</button>
          </form>     
        </div>
      </section>


      <!-- #FEATURED CAR -->

      <section class="section featured-car" id="featured-car">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="h2 section-title">Featured cars</h2>
            <a href="#featured-car" class="btn" aria-labelledby="aria-label-txt" aria-disabled="true">
              <ion-icon name="car-outline"></ion-icon>
            </a>
          </div>

          <ul class="featured-car-list" id="featured-car-list">
            {% if cars %}
            {% for car in cars %}
            {% if forloop.counter <= 3 %}
            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="/media/{{car.Car_Image.first.image}}" alt="{{car.car_name}}" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="{% url 'car_info' car.slug %}">{{car.car_name}}</a>
                    </h3>

                    <data class="year" value="2021">{{car.year}}</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">{{car.seat}} People</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="flash-outline"></ion-icon>

                      <span class="card-item-text">{{car.fuel_type}}</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="speedometer-outline"></ion-icon>

                      <span class="card-item-text">{{car.mileage}}km / 1-litre</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="hardware-chip-outline"></ion-icon>

                      <span class="card-item-text">{{car.gearbox}}</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>₹{{car.price}}</strong> / month
                    </p>

                    <a href="{% url 'add_to_wishlist' car.uid %}" class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </a>

                    <button class="btn">Rent now</button>

                  </div>

                </div>

              </div>
            </li>
            {% endif %}
            {% endfor %}
            {% elif featured_cars %}
            {% for car in featured_cars %}
            {% if forloop.counter <= 3 %}
            <li>
              <div class="featured-car-card">

                <figure class="card-banner">
                  <img src="/media/{{car.Car_Image.first.image}}" alt="{{car.car_name}}" loading="lazy" width="440" height="300"
                    class="w-100">
                </figure>

                <div class="card-content">

                  <div class="card-title-wrapper">
                    <h3 class="h3 card-title">
                      <a href="{% url 'car_info' car.slug %}">{{car.car_name}}</a>
                    </h3>

                    <data class="year" value="2021">{{car.year}}</data>
                  </div>

                  <ul class="card-list">

                    <li class="card-list-item">
                      <ion-icon name="people-outline"></ion-icon>

                      <span class="card-item-text">{{car.seat}} People</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="flash-outline"></ion-icon>

                      <span class="card-item-text">{{car.fuel_type}}</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="speedometer-outline"></ion-icon>

                      <span class="card-item-text">{{car.mileage}}km / 1-litre</span>
                    </li>

                    <li class="card-list-item">
                      <ion-icon name="hardware-chip-outline"></ion-icon>

                      <span class="card-item-text">{{car.gearbox}}</span>
                    </li>

                  </ul>

                  <div class="card-price-wrapper">

                    <p class="card-price">
                      <strong>₹{{car.price}}</strong> / month
                    </p>
                    {% if request.user.is_authenticated %}
                      {% if car.uid in wishlist_item_uids %}
                    <a href="{% url 'remove_from_wishlist' car.uid %}" class="btn fav-btn btn-red" aria-label="Already in favourite list">
                      <ion-icon name="heart"></ion-icon>
                    </a>
                      {% else %}
                    <a href="{% url 'add_to_wishlist' car.uid %}" class="btn fav-btn" aria-label="Add to favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </a>
                      {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}" class="btn fav-btn btn-red" aria-label="Already in favourite list">
                      <ion-icon name="heart-outline"></ion-icon>
                    </a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'payment_page' car_slug=car.slug %}" class="btn">Rent now</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn">Rent now</a>
                    {% endif %}

                  </div>

                </div>

              </div>
            </li>
            {% endif %}
            {% endfor %}
            {% else %}
            <h1>No cars found.</h1>
            {% endif %}

            <a href="{% url 'featured_cars' %}" class="featured-car-link">
              <span>View more</span>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>
          </ul>
        </div>
      </section>

      <!-- - #GET START -->

      <section class="section get-start">
        <div class="container">

          <h2 class="h2 section-title">Get started with 4 simple steps</h2>

          <ul class="get-start-list">

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-1">
                  <ion-icon name="person-add-outline"></ion-icon>
                </div>

                <h3 class="card-title">Create a profile</h3>

                <p class="card-text">
                  Sign up and create your personalized profile to access our wide range of vehicles and exclusive
                  deals...
                </p>

                <a href="{% url 'register' %}" class="card-link">Get started</a>

              </div>
            </li>

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-2">
                  <ion-icon name="car-outline"></ion-icon>
                </div>

                <h3 class="card-title">Tell us what car you want</h3>

                <p class="card-text">
                  Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                </p>

              </div>
            </li>

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-3">
                  <ion-icon name="person-outline"></ion-icon>
                </div>

                <h3 class="card-title">Match with seller</h3>

                <p class="card-text">
                  It to make a type specimen book. It has survived not only five centuries, but also the leap into
                  electronic
                </p>

              </div>
            </li>

            <li>
              <div class="get-start-card">

                <div class="card-icon icon-4">
                  <ion-icon name="card-outline"></ion-icon>
                </div>

                <h3 class="card-title">Make a deal</h3>

                <p class="card-text">
                  Explore our diverse fleet, find your perfect ride. Easy rentals, great rates - your journey starts
                  here!
                </p>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- #BLOG -->

      <section class="section blog" id="blog">
        <div class="container">

          <h2 class="h2 section-title">Our Blog</h2>

          <ul class="blog-list has-scrollbar">

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/media/images/blog-1.jpg" alt="Opening of new offices of the company" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Company</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">Opening of new offices of the company</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/media/images/blog-2.jpg" alt="What cars are most vulnerable" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Repair</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">What cars are most vulnerable</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/media/images/blog-3.jpg" alt="Statistics showed which average age" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Cars</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">Statistics showed which average age</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/media/images/blog-5.jpg" alt="New rules for handling our cars" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Company</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">New rules for handling our cars</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>
            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/media/images/blog-4.jpg" alt="What´s required when renting a car?" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Cars</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">What´s required when renting a car?</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/media/images/blog-5.jpg" alt="New rules for handling our cars" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Company</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">New rules for handling our cars</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>
            <li>
              <div class="blog-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/media/images/blog-5.jpg" alt="New rules for handling our cars" loading="lazy"
                      class="w-100">
                  </a>

                  <a href="#" class="btn card-badge">Company</a>

                </figure>

                <div class="card-content">

                  <h3 class="h3 card-title">
                    <a href="#">New rules for handling our cars</a>
                  </h3>

                  <div class="card-meta">

                    <div class="publish-date">
                      <ion-icon name="time-outline"></ion-icon>

                      <time datetime="2022-01-14">January 14, 2022</time>
                    </div>

                    <div class="comments">
                      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

                      <data value="114">114</data>
                    </div>

                  </div>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>





  <!-- - #FOOTER -->

  

  <!-- js script link -->
  <script src="/media/js/script.js"></script>

  <!-- - ionicon link -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  {% endblock body %}

</body>

</html>