{% extends "base/base.html" %}

{% block head %}

<style>
    .this_container {
        margin: 120px 0 200px 0;
        position: relative;
        left: 37%;
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .this_form {
        display: flex;
        flex-direction: column;
    }

    .this_input_group {
        margin-bottom: 15px;
        position: relative; /* Added */
    }

    .this_input_group label {
        margin-bottom: 5px;
    }

    .this_input {
        padding: 15px 0 10px 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        width: calc(100% - 30px);
    }

    .this_button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* .this_button:hover {
        background-color: #0056b3;
    } */

    .password-toggle-icon {
        position: absolute;
        right: 5px; /* Adjusted */
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .password-toggle-icon i {
        margin-top: 30px;
        font-size: 18px;
        color: #777;
    }

    .password-toggle-icon i:hover {
        color: #333;
    }
</style>
{% endblock head %}

{% block body %}
<div class="this_container">
    <form method="POST">
        {% csrf_token %}
        {% include "base/alert.html" %}
        <div class="this_input_group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="this_input" required>
        </div>
        <div class="this_input_group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="this_input" required>
        </div>
        <div class="this_input_group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="this_input" required>
        </div>
        <div class="this_input_group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="this_input"  oninput="validatePassword()" required>
        </div>
        <div class="this_input_group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" class="this_input"  oninput="validatePassword()" required>
            <span id="passwordError" style="color: red;"></span>
        </div>
        <P>Already have an account ?<a href="{% url 'login' %}" style="display: inline;"> Sign In</a></P><br>
        <button type="submit" class="btn this_button">Register</button>
    </form>
</div>
<script>
    function validatePassword() {
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password').value;
        var passwordError = document.getElementById('passwordError');

        // Reset error message
        passwordError.textContent = '';

        // Password validation criteria
        var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,12}$/;

        if (!passwordPattern.test(password)) {
            passwordError.textContent = 'Password must be 8-12 characters long and contain at least 1 letter and 1 number.';
        } else if (password !== confirm_password) {
            passwordError.textContent = 'Password and confirm password do not match.';
        }
    }
</script>
{% endblock body %}

